body {
  background-color: #666;
}

#parent {
  margin: 2vw;
  padding: 1vw 3vw 3vw 3vw;
  font-family: Arial, Helvetica, sans-serif;
  border:2px solid #fff;
  border-bottom:2px solid #444;
  border-right:2px solid #444;
  width:50vw;
  min-width:300px;
  max-width:475px;
  background-color: #ddd;
}

h1 {font-size:18pt;text-align:center;}

.taskHeader {
  padding-bottom:20px;
  }

    H3 {font-size:14pt;}

    .dataLabels {
      font-size:8pt;
      font-weight:bold;
      display:inline;
      clear:all;
      }

    span {
      width:48%;
      min-width:140px;
      float:left;     
      }

      .shareRow {
        text-align:center;
        }

    .taskRow {
      border:solid gray 1px;
      padding:2px;
      height:14pt;
    }
      .shareRow2 {
        text-align:left;
        color:blue;
        text-decoration: underline;
        padding:2px 3px;
         }

      .shareRow3 {
        text-align:center;
        color:blue;
        text-decoration: underline;
        padding:2px 3px;
      }
  
  
          
